@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

:root {
    font-family: 'Kode Mono';
    height: 100%;
}

/* COMMON */
.title {
    font-weight: bolder;
    font-size: 38px;
}

hr {
    margin: 50px 0px;
}

/* START SCREEN */
#start_bg {
    position: absolute;
    background-image: url('../images/fondo-placa-white.avif');
    padding: 0px 15%;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 40rem;
    z-index: 0;
}

#start {
    z-index: 1;
    padding: 0px 2.5rem;
    margin: 0px 2.5rem;
}

#start .hello {
    margin-top: 7.5%;
    font-size: 24px;
}

#start .iam {
    margin-bottom: 0px;
    font-size: 36px;
    font-weight: bolder;
    -webkit-text-stroke: 1.5px white;
}

#start .name {
    font-size: 136px;
    margin-top: -10px;
    margin-bottom: 0px;
    font-weight: bolder;
    -webkit-text-stroke: 3px white;
}

#start .lastname {
    text-align: end;
    font-size: 136px;
    margin-top: -30px;
    margin-bottom: 0px;
    font-weight: bolder;
    -webkit-text-stroke: 3px white;
}

#start .quote {
    text-align: center;
    font-size: 24px;
}